﻿@model DevBlog.ViewModels.PostViewModels.PostDisplayViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimePosted)
        </dd>
    </dl>
</div>
<div>
    <hr />
    @Html.DisplayFor(model => model.Content)
    <hr />
</div>
<p>    
    @if (User.IsInRole("Dev")) {<b> @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |</b>} 
    @if (User.IsInRole("Dev")) {<b> @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |</b> } 
    <b>@Html.ActionLink("Back to List", "Index")</b>
     
</p>
<hr />
<div class="row">
    @foreach (DevBlog.ViewModels.ImageViewModels.ImageDisplayViewModel image in Model.Images) {
        @Html.Partial("../Image/_Display", image)
    }
</div>
@if (User.IsInRole("Dev")) { @Html.Partial("../Image/_Upload",new DevBlog.ViewModels.ImageViewModels.ImageUploadViewModel() { PostID = Model.ID} )}
<hr />
<h4>Comments</h4>
<hr />
<div>
    @Html.Partial("../Comment/_CommentSection", Model.Comments)
</div>
<hr />
<div>
@if (User.Identity.IsAuthenticated) {
    using (Html.BeginForm("Create", "Comment",FormMethod.Post)) {
        @Html.Partial("../Comment/_Create", Model.CommmentCreatModel)
    }
}
else { @Html.ActionLink("Please Log in to comment", "Login", "Account", new { returnUrl  = Request.Url}, htmlAttributes: new { id = "loginLink" })}
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
