﻿@model DevBlog.ViewModels.PostViewModels.PostListingViewModel

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

@if(User.IsInRole("Dev")){
<p>
    <b>@Html.ActionLink("Create New", "Create")</b>
</p>
}
<table class="table">
    <tr>
        <th>
            Title
            <b>@Html.ActionLink("^", "Index", new { page = Model.Pager.Page, descending = false, sortParameter = "Title" })</b>
            @Html.ActionLink("v", "Index", new { page = Model.Pager.Page, descending = true, sortParameter = "Title" })
        </th>
        <th>
            Author
            <b>@Html.ActionLink("^", "Index", new { page = Model.Pager.Page, descending = false, sortParameter = "Author" })</b>
            @Html.ActionLink("v", "Index", new { page = Model.Pager.Page, descending = true, sortParameter = "Author" })
        </th>
        <th>
            Posted on
            <b>@Html.ActionLink("^", "Index", new { page = Model.Pager.Page, descending = false, sortParameter = "Date" })</b>
            @Html.ActionLink("v", "Index", new { page = Model.Pager.Page, descending = true, sortParameter = "Date" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
           <b> @Html.ActionLink(item.Title, "Details", new {  ID = item.ID} )</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimePosted)
        </td>
        <td>
            @if (User.IsInRole("Dev")) {<b> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |</b>}
            @if (User.IsInRole("Dev")) {<b> @Html.ActionLink("Delete", "Delete", new { id = item.ID }) </b> }
        </td>
    </tr>
}
</table>

@{
    if (Model.Pager.Page > 1) { <b>@Html.ActionLink("<", "Index", new { page = Model.Pager.Page - 1 })</b>}
    for (int i = 1; i <= Model.Pager.PagesCount; i++) {
        <b>@Html.ActionLink(i.ToString(), "Index", new { page = i })</b>
    }
    if (Model.Pager.Page < Model.Pager.PagesCount) { <b>@Html.ActionLink(">", "Index", new { page = Model.Pager.Page + 1 })</b>}
}



