﻿@model DevBlog.ViewModels.ImageViewModels.ImageDisplayViewModel

<div class="gallery_product col-lg-10 col-md-10 col-sm-10 col-xs-10 filter hdpe">
        <img src="@Url.Content(Model.Path)" class="img-responsive" style="width:800px; height:auto">
        <p>
            @if (User.IsInRole("Dev")) { <b> @Html.ActionLink("Delete", "Delete","Image", new { id = Model.ID },null) </b>}
        </p>
</div>
