﻿@model DevBlog.ViewModels.UserViewModels.UserListingViewModel

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            User Name
            <b>@Html.ActionLink("^", "Index", new { page = Model.Pager.Page, descending = false, sortParameter = "User Name" })</b>
            @Html.ActionLink("v", "Index", new { page = Model.Pager.Page, descending = true, sortParameter = "User Name" })
        </th>
        <th>
            Role
            <b>@Html.ActionLink("^", "Index", new { page = Model.Pager.Page, descending = false, sortParameter = "Role" })</b>
            @Html.ActionLink("v", "Index", new { page = Model.Pager.Page, descending = true, sortParameter = "Role" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink(item.UserName + "'s " + "Comments", "Index", "Comment", new { userName = item.UserName }, htmlAttributes: new { title = item.UserName+"'s "+"Comments" })
        </td>
        <td>
            @{string roleChangeLabel;
                if (item.Banned) {
                    roleChangeLabel = "Unban";
                    <b>@Html.ActionLink(roleChangeLabel, "ChangeAutority", new { id = item.ID, newRole = "Reader"})</b>
                }
                else {
                    string role;
                    if (item.Developer) { roleChangeLabel = "Demote"; role = "Reader"; }
                    else { roleChangeLabel = "Promote"; role = "Dev"; }
                    <b>@Html.ActionLink(roleChangeLabel, "ChangeAutority", new { id = item.ID , newRole = role}) |</b>
                    <b>@Html.ActionLink("Ban", "ChangeAutority", new { id = item.ID, newRole = "Banned" })</b>
                }
            }
        </td>
    </tr>
}

</table>
@{
    if (Model.Pager.Page > 1) { <b>@Html.ActionLink("<", "Index", new { page = Model.Pager.Page - 1 })</b>}
    for (int i = 1; i <= Model.Pager.PagesCount; i++) {
        <b>@Html.ActionLink(i.ToString(), "Index", new { page = i })</b>
    }
    if (Model.Pager.Page < Model.Pager.PagesCount) { <b>@Html.ActionLink(">", "Index", new { page = Model.Pager.Page + 1 })</b>}
}
