﻿@model DevBlog.ViewModels.CommentViewModels.CommentDisplayViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(c => Model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(c => Model.TimePosted)
        </dd>
    </dl>
    <div style="margin-left:10%;">
        @Html.DisplayFor(c => Model.Content)
    </div>
    <p style="margin-top:2%; margin-left:5%;">
        @if (User.Identity.Name == Model.Author) {<b> @Html.ActionLink("Edit", "Edit", "Comment", new { id = Model.ID }, null)| </b> }
        @if (User.Identity.Name == Model.Author || User.IsInRole("Dev")) {<b> @Html.ActionLink("Delete", "Delete", "Comment", new { id = Model.ID }, null) | </b> }
        @if (User.Identity.IsAuthenticated) {<b> @Html.ActionLink("Respond", "Respond", "Comment", new { responseToID = Model.ID }, null) </b>}
    </p>
    <hr />
</div>