﻿@model DevBlog.ViewModels.CommentViewModels.CommentCreateViewModel

@{
    ViewBag.Title = "Edit Comment";
}

<h2>Edit Comment</h2>

@Html.Partial("_Create",Model)


<div>
    @Html.ActionLink("Back to Post", "Details", "Post", new { ID = Model.PostID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
