﻿@model DevBlog.ViewModels.CommentViewModels.CommentRespondViewModel

@{
    ViewBag.Title = "Respond";
}

<h2>Respond</h2>

@Html.Partial("_Display",Model.ResposeTo)


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.ResponseToID, new { @Value = Model.ResponseToID })
        @Html.ValidationMessageFor(model => model.ResponseToID, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostID, new { @Value = Model.PostID })
        @Html.ValidationMessageFor(model => model.ResponseToID, "", new { @class = "text-danger" })
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Respond" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to Post", "Details", "Post", new { ID = Model.PostID}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
