﻿@model IEnumerable<DevBlog.ViewModels.CommentViewModels.CommentDisplayViewModel>

@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>
<hr/>
<div>
@foreach (var comment in Model) {
    if (comment.ResponseToID > 0 || comment.ResponseToID != null) { continue; }
    @Html.ActionLink("Post", "Details", "Post",new { ID = comment.PostID},null)
    @Html.Partial("../Comment/_Display", comment)
    if (comment.Responses == null) { continue; }
    <div style="margin-left:10%;">
        @foreach (var respons in comment.Responses) {
            @Html.Partial("../Comment/_Display", respons)
        }
    </div>
}
</div>

