﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("My profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @if (User.IsInRole("Dev")) {
            <li>
                @Html.ActionLink("Users", "Index", "User", routeValues: null, htmlAttributes: new { title = "Users" })
            </li>
        }
        <li>
            @Html.ActionLink("My comments", "Index", "Comment", new { userName = User.Identity.Name}, htmlAttributes: new { title = "My Comments" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { returnUrl = Request.Url }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
